:root {
  --primary-color: #562135;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  /* background-color: #020113; */
  background-color: #000;
  font-family: "Raleway", sans-serif;
  color: white;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4 {
  font-family: "Oswald", sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 2.8rem;
}
h3 {
  font-size: 2.2rem;
}
h4 {
  font-size: 2rem;
}
h1,
h2 {
  color: #e9b1cd;
  -webkit-text-stroke: #c3829e 1px;
}
#particles-js {
  height: 100vh;
  width: 100%;
  z-index: -1;
  position: fixed;
}
.centered {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 2.5vh 5vw;
}
.navbar-list {
  width: 80%;
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  font-size: 1.4rem;
  transform: translateX(-200%);
  transition: all 0.5s ease-in-out;
}
.navbar-list a {
  color: white;
  text-decoration: none;
}
.hero {
  padding: 10vh 8vw;
}
.about-me {
  background-color: var(--primary-color);
  flex-direction: column;
  color: white;
  min-height: 50vh;
  font-size: 2rem;
  padding: 8vh 8vw 18vh;
}
.about-me__title {
  margin: 1rem;
}
.about-me__text {
  margin: 1.5rem;
}
.glassmorphism {
  background: rgba(195, 130, 158, 0.13);
  box-shadow: 0 8px 32px 0 rgba(195, 130, 158, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  border: 1px solid rgba(195, 130, 158, 0.2);
}
.position-container {
  position: relative;
}
.skills {
  position: absolute;
  left: 0;
  right: 0;
  top: 85%;
  width: 80%;
  background-color: white;
  color: var(--primary-color);
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  margin: 0 auto;
  border-radius: 7.5px;
  text-transform: uppercase;
  font-size: 1rem;
}
.frontend-skills,
.backend-skills {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 6vh 2vw;
  font-size: 1.3rem;
}
.backend-skills {
  border-right: 1px solid var(--primary-color);
}
.frontend-skills {
  border-left: 1px solid var(--primary-color);
}
.skills-title {
  margin: 1rem;
}
.skills-list {
  list-style: none;
  font-size: 1.5rem;
}
.skills-list li {
  margin: 0.5rem;
}
.projects {
  margin-top: 50vh;
  padding: 5vh 10vw;
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
}
.projects-title {
  margin: 2rem;
  padding: 1rem;
}
.projects-container {
  width: 100%;
}
.project-container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 5vh 0;
  height: 50vh;
  min-height: 200px;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid white;
  width: 100%;
}
.project-container:nth-child(1) {
  background: url("./resources/images/358e13e7e132b8de897c344302348cae.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.project-description {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: transparent;
  color: white;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  padding: 1rem;
}
.project-description h3 {
  margin: 1rem;
}
.project-description p {
  margin: 1rem;
}
.pagelink {
  color: white;
  border: 2px solid white;
  text-decoration: none;
  padding: 1rem;
  margin: 1rem;
}
.project-visible {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.8);
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  height: 100%;
  padding: 2vh;
}
.footer h4 {
  text-transform: capitalize;
  margin-top: 1rem;
}
.footer-contact-container {
  width: 100%;
  margin: 1rem;
}
.footer-contact-container i {
  font-size: 2.5rem;
  color: white;
  margin: 1rem 1.5rem;
}
.menu-button {
  position: relative;
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  border: 1px solid #fff;
}
.menu-button__burger {
  width: 25px;
  height: 2px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}
.menu-button__burger::before,
.menu-button__burger::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}
.menu-button__burger::before {
  transform: translateY(-8px);
}
.menu-button__burger::after {
  transform: translateY(8px);
}

.menu-button.open .menu-button__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.menu-button.open .menu-button__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-button.open .menu-button__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}
.navbar-list.desplegate {
  transform: translateX(0%);
}
